div.father_field{
	margin: 45% 590px;
	padding-left: 30px;
}
.field{
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}
#user_name{
	margin-left: 0px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	width: 250px;
	height: 30px;
	background-color: #Fa9;
}
#user_email{
	margin-left: 0px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	width: 250px;
	height: 30px;
	background-color: #Fa9;
}
#user_password{
	margin-left: 0px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	width: 250px;
	height: 30px;
	background-color: #Fa9;
}
#user_password_confirmation{
	margin-left: 0px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	width: 250px;
	height: 30px;
	background-color: #Fa9;
}
input{
	margin-left: 50px;
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	width: 100px;
	height: 30px;
	background-color: #6383A8;
	color: white;
	border-radius: 5px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
